@font-face {
  font-family: 'BestTen-CRT';
  src: url('/treasures/Best10-FONT/Best10-FONT/BestTen-CRT.otf') format('opentype');
}

.BestTen-CRT {
  font-family: 'BestTen-CRT', sans-serif;
  /* fi,ffなど、特定の文字が続いたときにそれらが表示されなくなることを防ぐため */
  font-variant-ligatures: none;
}